body {
  margin: 0;
  font-family: "Montserrat", "Trebuchet MS", "Lucida Sans Unicode",
    "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  background-color: rgb(221, 221, 221);
}

.container {
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  margin-top: 50px;
  text-align: center;
  max-width: 500px;
  border-radius: 5px;
  padding: 20px;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

form input[type="text"] {
  padding: 8px;
  border: solid 0.5px rgb(207, 207, 207);
  border-radius: 5px;
  font-size: 16px;
  font-family: "Montserrat", "Trebuchet MS";
  width: 60%;
}

form input[type="submit"] {
  padding: 8px;
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: 16px;
  font-family: "Montserrat", "Trebuchet MS";
  background-color: rgb(78, 170, 206);
  color: white;
  margin-left: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

form input[type="submit"]:hover {
  background-color: rgb(31, 138, 180);
  color: white;
}

.icon img {
  width: 30px;
  height: 30px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.temperature {
  font-size: 48px;
  font-weight: bold;
  margin: 10px 0;
}

.description {
  font-size: 24px;
  margin-bottom: 10px;
}

.details {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.details > div {
  padding: 20px;
  background-color: rgb(233, 231, 231);
  margin: 10px;
  flex: 1;
  border-radius: 5px;
  text-align: center;
  min-height: 45px;
}

@media (max-width: 768px) {
  form {
    flex-direction: column;
  }

  form input[type="text"] {
    width: 100%;
    margin-bottom: 10px;
  }
}
